{
  "parser": "babel-eslint",
  "extends": "airbnb/base",
  "env": {
    "browser": true,
    "amd": false,
    "es6": true,
    "node": true,
    "mocha": true
  },
  "globals": {
    "describe": true,
    "it": true,
    "phantom": true
  },
  "rules": {
    "no-param-reassign":2
  }
}
